---
import Layout from "../layouts/Layout.astro";
import { Card, LinkCardGrid } from "../components";
---

<Layout title="blog">
  <main>
    <h1>
      <span class="text-gradient"><code>barbajoe</code></span>'s blog
    </h1>

    <p class="instructions">
      My plan is to explore the use of <code>Payload</code>/<code>Sanity</code>/<code>Wagtail</code> for building up blog posts.
    </p>

    <LinkCardGrid>
      <Card
        href="example-page"
        title="Example Page"
        body="Used for testing purposes only"
      />

      <Card
        href="posts/BlogPost"
        title="Test Blog Export"
        body="Exported from Notion as a Markdown file w/ image included"
      />

      <Card
        href="https://barbajoe.tech/"
        title="barbajoe's tech"
        body="Go to my 'tech' landing page"
      />

      <Card href="garbage" title="404 Page" body="For testing the error page" />
    </LinkCardGrid>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }

    50% {
      background-position-y: 80%;
    }
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    background: #4f39fa;
    padding: 1rem;
    border-radius: 0.4rem;
    color: var(--color-bg);
  }

  .instructions code {
    font-size: 0.875em;
    border: 0.1em solid var(--color-border);
    border-radius: 4px;
    padding: 0.15em 0.25em;
  }
</style>
