---
const route = Astro.url.pathname;

const routes = {
  home: "/",
  css: "/css-lib/",
  svelte: "/svelte-lib/",
  react: "/react-lib/",
};
const routeMatches = {
  home: route === routes.home,
  css: route.startsWith(routes.css),
  svelte: route.startsWith(routes.svelte),
  react: route.startsWith(routes.react),
};
---

<header>
  <a class="skip-link" href="#main-content">Skip to main content</a>

  <a
    href="https://barbajoe.tech/"
    rel="noopener noreferrer"
    aria-label="go to landing page"
  >
    <img width="50" height="50" src="/favicon.ico" alt="Logo" />
  </a>

  <ul>
    <li class:list={[{ active: routeMatches.home }]}>
      <a href={routes.home}>Home</a>
    </li>

    <li class:list={[{ active: routeMatches.css }]}>
      <a href={routes.css}>CSS</a>
    </li>

    <li class:list={[{ active: routeMatches.svelte }]}>
      <a href={routes.svelte}>Svelte</a>
    </li>

    <li class:list={[{ active: routeMatches.react }]}>
      <a href={routes.react}>React</a>
    </li>
  </ul>
</header>
