<header>
  <a class="skip-link" href="#main-content">Skip to main content</a>

  <a
    href="https://barbajoe.tech/"
    rel="noopener noreferrer"
    aria-label="go to landing page"
  >
    <img width="50" height="50" src="/favicon.ico" alt="Logo" />
  </a>

  <ul>
    <li class="active"><a href="/">Home</a></li>

    <li><a href="/css-lib">CSS</a></li>

    <li><a href="/svelte-lib">Svelte</a></li>

    <li><a href="/react-lib">React</a></li>
  </ul>
</header>
