---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Error">
  <section>
    whoops, this page doesn't exist, use&nbsp;<a href="/">this link</a>&nbsp;to
    return home
  </section>
</Layout>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
