---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="barbajoe's library stage">
  <main>
    <h1 class="text-gradient">barbajoe's library stage</h1>

    <p class="instructions">
      This is a testing environment for the barbajoe libraries
    </p>

    <ul class="link-card-grid">
      <Card href="/css-lib/" title="CSS Library" body="TODO" />

      <Card
        href="https://astro.build/integrations/"
        title="Svelte Library"
        body="TODO"
      />

      <Card
        href="https://astro.build/themes/"
        title="React Library"
        body="TODO"
      />
    </ul>
  </main>
</Layout>

<style>
  .instructions {
    border: 1px solid var(--border-color-gray);
    background: var(--color-bg-accent);
    color: var(--color-text-accent);
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
